<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}GameInLyon: le jeu touristique à Lyon{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset ('css/header.css')}}">
        {% endblock %}
    </head>
    <body>

        <header class="col-xs-12">
            <div class="navbar">
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="home-button" id="register">
                                    <a href="{{ path ('fos_user_registration_register') }}">Inscription</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="home-button" id="connection">
                                    <a href="{{ path ('fos_user_security_login') }}">Connexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">

                    </div>
                    <div class="col-xs-6 social-bar">

                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset ('js/main.js')}}"></script>
        {% endblock %}
    </body>
</html>
