{% extends 'layout.html.twig' %}
{% block title %}Parcours Balade{% endblock %}
{% block body %}
    <ul>
        {% for activity in activities %}
            <li>
                {{ activity.name }}<br>{{ activity.address }}<br>{{ activity.postcode }}<br>{{ activity.city }}<br>{{ activity.phone }}<br>{{ activity.ouverture }}<br>
            </li>
        {% endfor %}
    </ul>
{% endblock %}